# Force LF for source / config / docs
*.md          text eol=lf
*.toml        text eol=lf
*.json        text eol=lf
*.json5       text eol=lf
*.snbt        text eol=lf
*.js          text eol=lf
*.mcmeta      text eol=lf
*.yml         text eol=lf
*.yaml        text eol=lf
*.py          text eol=lf
.packwizignore text eol=lf

# Windows-only scripts keep CRLF
*.bat         text eol=crlf
*.cmd         text eol=crlf
*.ps1         text eol=crlf

# Binary
*.png         binary
*.jpg         binary
*.zip         binary
*.jar         binary
*.nbt         binary
